In [24]:
import pandas as pd

col_names = ['tempmax','tempmin','temp','dew','humidity','preciptype','visibility','uvindex','sealevelpressure']

data = pd.read_csv("data.csv", usecols=col_names)
data

,tempmax,tempmin,temp,dew,humidity,preciptype,sealevelpressure,visibility,uvindex
0,28.9,10.0,19.1,5.1,43.1,NaN,1018.2,15.8,8
1,35.0,15.5,24.5,5.7,33.6,NaN,1015.1,15.6,8
2,35.0,15.6,25.2,4.8,28.4,NaN,1015.8,15.3,8
3,37.8,17.1,27.3,3.8,24.9,NaN,1015.1,15.1,8
4,37.8,18.7,28.1,3.2,21.7,NaN,1014.9,13.2,7
...,...,...,...,...,...,...,...,...,...
736,39.9,21.0,29.1,4.2,22.9,rain,1013.2,15.4,9
737,28.8,18.4,23.7,0.3,27.4,NaN,1013.5,15.6,9
738,25.0,8.4,17.1,-3.5,27.2,NaN,1013.3,9.0,8
739,28.8,12.8,19.8,-2.4,23.4,NaN,1015.7,11.2,8
740,30.6,12.7,21.2,-2.3,22.7,NaN,1017.1,10.1,8

In [26]:
## Need to create label so I will try and make new column based if preciptype is rain or empty
data["label"] = dataWLabel['preciptype'].map(lambda x: 1 if "rain"==x else 0)
data

,tempmax,tempmin,temp,dew,humidity,preciptype,sealevelpressure,visibility,uvindex,label
0,28.9,10.0,19.1,5.1,43.1,0,1018.2,15.8,8,0
1,35.0,15.5,24.5,5.7,33.6,0,1015.1,15.6,8,0
2,35.0,15.6,25.2,4.8,28.4,0,1015.8,15.3,8,0
3,37.8,17.1,27.3,3.8,24.9,0,1015.1,15.1,8,0
4,37.8,18.7,28.1,3.2,21.7,0,1014.9,13.2,7,0
...,...,...,...,...,...,...,...,...,...,...
736,39.9,21.0,29.1,4.2,22.9,rain,1013.2,15.4,9,1
737,28.8,18.4,23.7,0.3,27.4,0,1013.5,15.6,9,0
738,25.0,8.4,17.1,-3.5,27.2,0,1013.3,9.0,8,0
739,28.8,12.8,19.8,-2.4,23.4,0,1015.7,11.2,8,0
740,30.6,12.7,21.2,-2.3,22.7,0,1017.1,10.1,8,0

In [31]:
##I will now drop the perciptype so the model does not recognize it as a reliable indicator
data.drop(["preciptype"],axis=1)

,tempmax,tempmin,temp,dew,humidity,sealevelpressure,visibility,uvindex,label
0,28.9,10.0,19.1,5.1,43.1,1018.2,15.8,8,0
1,35.0,15.5,24.5,5.7,33.6,1015.1,15.6,8,0
2,35.0,15.6,25.2,4.8,28.4,1015.8,15.3,8,0
3,37.8,17.1,27.3,3.8,24.9,1015.1,15.1,8,0
4,37.8,18.7,28.1,3.2,21.7,1014.9,13.2,7,0
...,...,...,...,...,...,...,...,...,...
736,39.9,21.0,29.1,4.2,22.9,1013.2,15.4,9,1
737,28.8,18.4,23.7,0.3,27.4,1013.5,15.6,9,0
738,25.0,8.4,17.1,-3.5,27.2,1013.3,9.0,8,0
739,28.8,12.8,19.8,-2.4,23.4,1015.7,11.2,8,0
740,30.6,12.7,21.2,-2.3,22.7,1017.1,10.1,8,0

In [32]:
feature_cols = ['tempmax','tempmin','temp','dew','humidity','visibility','uvindex','sealevelpressure']
X = data[feature_cols] # Features
y = data.label # Target variable

In [33]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size=0.25, random_state=0)

In [34]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression(max_iter=5000)

# fit the model with data
logreg.fit(X_train,y_train)


y_pred = logreg.predict(X_test)

In [35]:
X_test

,tempmax,tempmin,temp,dew,humidity,visibility,uvindex,sealevelpressure
196,12.8,0.7,5.8,-2.8,55.5,16.0,8,1013.3
187,13.3,1.0,6.2,-2.3,58.7,16.0,7,1018.6
14,29.3,13.7,21.4,0.5,26.3,7.8,6,1017.4
31,28.4,11.0,18.9,2.6,35.7,12.1,6,1019.6
395,21.7,7.1,13.8,-0.9,38.4,15.8,8,1020.9
...,...,...,...,...,...,...,...,...
640,27.9,14.4,21.7,8.5,45.9,16.0,10,1005.2
35,27.8,11.6,18.5,0.8,32.1,15.2,6,1018.8
527,13.8,-1.7,4.0,-1.3,70.1,15.5,6,1029.9
534,9.2,-4.4,2.4,-4.6,62.3,16.0,6,1029.3
293,35.6,18.3,27.2,5.8,28.7,16.0,10,1010.4

In [36]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8548387096774194